body {
    font-family: Arial, Helvetica, sans-serif;
}

/*ID da div principal da página de login*/
#login_div {
    margin-left: 15%;
    margin-top: 60px;
    background-color: #E5E5E5;
    height: 300px;
    width: 70%;
    text-align: center;
}

/*caixa onde a div de login está localizada*/
#box {
    width: 100%;
    background-color: #E5E5E5;
}

/*Campo do usuário*/
#user {
    margin-top: 22px;
    /*remoção da borda preta ao clicar*/
    outline: 0;
    height: 50px;
    width: 40%;
    border: 0px;
}

#password {
    margin-top: 22px;
    align-self: center;
    outline: 0;
    height: 50px;
    width: 40%;
    border: 0px;
}

#enter_button {
    margin-top: 22px;
    width: 40%;
    height: 40px;
    align-self: center;
    background-color: #2A7AE4;
    color: white;
    border: 0;
}

p {
    color: #464646;
}

footer {
    margin-top: 0%;
}

/*Em telas menores, os campos aumentam de tamanho*/
@media screen and (max-width: 900px) {
    #user {
        width: 60%;
    }
    #password {
        width: 60%;
    }

    #enter_button {
        width: 60%;
    }
}

