
body, html {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    padding: 0;
    margin: 0;
    background-color: white;
    
}
  
div{
    display: inline-block;
}

header{
    display: flex;
    align-items: center;

    justify-content: left;
    margin-left: 10%;
    width: 80%;
    max-width: 1300px;
    height: 80px;
    background-color: white;
    

}

.center {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}

#search_button{
    height: 50%;
    width: 20px;
    position: absolute;
    top: 25%;
    right: 5px;

}

::placeholder{
    color:#A2A2A2;
}

#search_bar{
    
    background-color: #F5F5F5;
    border-radius: 15px;
    height: 38px;
    width: 85%;
    border: 0;
    outline: 0px;
    position: absolute;
    left: 5px;
    color: #A2A2A2;
}

#search_div{

    background-color: #F5F5F5;
    align-items: center;
    height: 40px;
    width: 30%;
    border-radius: 15px;
    position: relative;
    left: 30px;
}

img{
    display: flex;
}
#logo{
    height: 40px;
}

#login_button{
    width: 100%;
    height: 100%;
    color: #2A7AE4;
    border-color: #2A7AE4;
    transition: 0.6s;
}

#login_button:hover{
    background-color: #e7e7e7;
}

#login_button_div{

    position: absolute;
    right: 20%;
    width: 16%;
    height: 45px;
    background-color: white;

}


#page_title{
    color: white;
    display: flex;
    flex-direction: column; 
    justify-content: end;
    background-image: url("imageminicio.jfif");
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 250px;
}

#titleh1{
    font-size: 32pt;
    font-family: Arial, Helvetica, sans-serif;
    
    padding: 20px;
}

#title_text{
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#title_button_div{
    padding: 20px;
    width: 120px;
    height: 35px;
}

#title_button{
    background-color: #2A7AE4;
    color: white;
    border: 0px;
    width: 100%;    
    height: 100%;
}

@media screen and  (max-width: 500px) {
    

    header{
        width: 100%;
        margin-left: 0px;
        left: 0px;
    }

    #search_div{

        background-color: white;
        width: 10%;
        border-radius: 15px;
        position: absolute;
        left: 85%;

    }

    #login_button_div{
        width: 35%;
        position: absolute;
        left: 43%;
    }
    #search_bar{
        visibility: hidden;
    }

    #page_title{
        height: 230px;
    }

    #title_button_div{
        padding: 20px;
        width: 35%;
        height: 40px;
    }

    
    #titleh1{
        font-size: 22pt;
    }

    #title_text{
        font-size: 11pt;
    }


}
